/* Estilo para o container do formulário de recuperação de senha */
.container {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin-top: 20px;
    /* Ajuste a margem conforme necessário */
}

/* Estilo para o título "Recuperar Senha" */
h1 {
    color: #333;
    font-size: 24px;
}

/* Estilo para o parágrafo de instruções */
p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

/* Estilo para o campo de e-mail */
#input_email {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

/* Estilo para o botão de enviar */
button {
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0055CC;
}

/* Estilo para a mensagem de resultado */
#exibir {
    margin-top: 10px;
    color: #0077FF;
    font-weight: bold;
    font-size: 14px;
}

/* Adicione estilos adicionais conforme necessário */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 400px;
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galinha {
    width: 200px;
    margin-right: 20px;
}

.form {
    text-align: left;
    flex: 1;
}

h1 {
    color: #333;
    font-size: 24px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    background-color: #54392f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #54392f;
}

#exibir {
    margin-top: 10px;
    color: #54392f;
    font-weight: bold;
    font-size: 14px;
}