@font-face {
    font-family: Roxborough CF;
    src: url(font/Roxborough-CF/Roxborough\ CF.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Roxborough CF;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.header-logo {
    display: flex;
    font-size: 20px;
    color: rgb(74, 61, 51);
    align-items: center;
}

.header-logo:hover {
    cursor: pointer;
}

header>div>img {
    width: 35px;
    display: flex;
    transition: 0.3s;
}

header > .botões {
    display: flex;
    width: 20%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
header > .botões > a {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    width: 100px;
    height: 45px;
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: rgb(74, 61, 51);
    text-decoration: none;
    text-align: center;
    transition: .3s;
}
/* header> a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color: rgb(74, 61, 51);
    text-decoration: none;
    transition: .3s;
    border: 5px solid red;
} */

header > .botões> a:hover {
    width: 107px;
    height: 47px;
}

header > .botões > img:hover {
    width: 40px;
}

header>nav>a {
    display: inline-flex;
    color: rgb(74, 61, 51);
    text-decoration: none;
    font-weight: 600;
    margin: 0 5px;
    transition: 0.3s;
}

header > nav > a:hover {
    font-size: 19px;
}



section > .container {
    margin: 70px auto;
    height: 30vw;
    width: 65vw;
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.358);
    overflow: hidden;
}

@keyframes animação {
    0% { margin-left: 0px;}
    30% { margin-left: 0px;}
    33% { margin-left: -100%;}
    63% { margin-left: -100%;}
    66% { margin-left: -200%;}
    96% { margin-left: -200%;}
    100% { margin-left: 0px;}
}

section > .container > .carrossel {
    display: flex;
    width: 300%;
    animation: animação 20s infinite;
}

section > .container > .carrossel > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 33.3%;
    height: 30vw;

}

section > .container > .carrossel > .first{
    background-image: linear-gradient(to right, rgb(74, 61, 51) 37%, rgba(74, 61, 51, 0.5) 68%, transparent 90%);
}

section > .container > .carrossel > .conheça{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left, rgb(74, 61, 51) 40%, rgba(74, 61, 51, 0.737) 70%, transparent);
}

section > .container > .carrossel > .simule{
    background-image: linear-gradient(to right, rgb(74, 61, 51) 37%, rgba(74, 61, 51, 0.5) 68%, transparent 90%);
}


section > .container > .carrossel > a > div > h1 {
    width: 25vw;
    font-size: 3.5vw;
    margin-left: 4vw;
    text-align: center;
    color: white;
}

section > .container > .carrossel > a > div > p {
    width: 30vw;
    color: white;
    justify-content: center;
    margin: 3.5vw;
    font-size: 2vw;
}


section > .container > .carrossel > a > img {
    position: relative;
    height: 29.2vw;
    z-index: -1;
}

section > .container > .carrossel > .first > img {
    right: 26vw;
}

section > .container > .carrossel > .conheça > img {
    right: -2.7vw;
} 

section > .container > .carrossel > .simule > img {
    right: 25vw;
}

/*section > input {
    display: none;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .carrossel {
    margin-right: 0;
}

#radio2:checked ~ .carrossel {
    margin-right: 100px;
}

#radio3:checked ~ .carrossel {
    margin-right: 200px;
}*/

/*--------------------------*/

.opções {
    width: 100%; 

    background-color: rgb(74, 61, 51);
    padding: 40px 0;
}

.opções > h1 {
    margin-bottom: 50px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
}

.opções > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}

.opções > div > .content {
    width: 300px;
    height: 450px;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(74, 61, 51);
    font-weight: bold;
}

.opções > div > .content > .tri-top {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom: 10px solid white;
    border-width: 0px 150px 20px;
}

.opções > div > .content > img {
    background-color: white;
    width: 100%;
    height: 33%;
    padding: 20px 10px 0px 10px;
    text-align: center;
    border: 0px 20px solid white;
    margin-bottom: -4px;
}

.opções > div > .content > p {
    width: 100%;
    height: 40%;
    background-color: white;
    padding: 20px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.opções > div > .content > .tri-bott {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top: 10px solid white;
    border-width: 20px 150px 0px;
}

.opções > div > .content:hover {
    cursor: pointer;
    height: 480px;
}
