@font-face {
    font-family: Roxborough CF;
    src: url(../assets/fonts/Roxborough-CF/Roxborough\ CF.ttf);

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
}

.card {
    padding: 25px 30px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.mensagem {
    font-size: 18px;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(74, 61, 51);
    padding: 0 5vw;
}

header > .logo {
    width: 120px;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
    font-family: Roxborough CF;
}

header > .logo > img {
    width: 50px;
}


header>nav>ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

header>nav>ul>li {
    color: white;
    list-style: none;
    font-weight: 900;
    font-size: 1.1em;
    transition: 0.2s;
}

header > nav > ul > li:hover {
    font-size: 1.2em;
}

header > nav > ul > li > a {
    color: white;
}

header>.sair {
    display: flex;
    width: 120px;
    color: white;
    align-items: center;
    font-weight: 900;
}

header>.sair>span {
    margin-right: 5px;
    font-weight: 900;

}

header>.sair>p {
    margin-left: 5px;
    font-size: large;
}

main {
    width: 100%;
    height: calc(100% - 80px);
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: end;
}

.formulario {
    width: 95%;
    height: 415px;
    padding: 60px 140px;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
}

.formulario > h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.formulario > h3 {
    font-size: 18px;
    margin-left: 20px;
}


.select_style {
    border: 2px rgb(74, 61, 51) solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    cursor: pointer;
}

.select_style > select {
    width: 99%;
    -webkit-appearance: none;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
}

.select_style > span {
    font-size: 17px;
}

.label_anexo > p {
    margin: 10px 0;
    width: 110px;
    border: 2px rgb(74, 61, 51) solid;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

.label_anexo > input {
    display: none;
}

textarea {
    margin-top: 20px;
    width: 60%;
    padding: 5px;
    border-radius: 10px 2px;
    height: 130px;
}

.enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(74, 61, 51);
    border: 2px rgb(74, 61, 51) solid;
    color: white;
    font-weight: 700;
    font-family: Roxborough CF;
    font-size: 15px;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    transition: .1s linear;
}

.enviar:hover {
    width: 103px;
    height: 27px;
    cursor: pointer;
}

.localizacao {
    height: 100%;
    padding: 20px;
    background-color: rgb(74, 61, 51);
    grid-column: 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.localizacao > h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.maps {
    width: 100%;
}

.contato {
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rede-social > a{
    display: flex;
    align-items: center;
    margin: 10px;
}

.rede-social > a > img{
    margin-right: 10px;
}

.localizacao > .logo {
    width: 120px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: Roxborough CF;
}

.localizacao > .logo > img {
    width: 30px;
}

iframe {
    width: 100%;
    height: 300px;
}

.footer {
    color: rgb(74, 61, 51);
    width: 100%;
    padding: 10px 5%;
    border-top: 2px white solid;
    grid-column: 1;
    grid-row: 2;
}

.footer::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(74, 61, 51);
    display: block;
}

.footer > h2 {
    font-size: 25px;
    margin: 20px 0;
}
.footer > p { 
    margin-left: 10px;
    line-height: 1.5rem;
    font-size: 18px;
    text-indent: 25px;
    text-align: justify;
}
