@font-face {
    font-family: ope;
    src: url(consola_mono/ope-Book.ttf);
}   

* {
    margin: 0;
    padding: 0;
}

.perfil {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid green; */
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.hidden {
    display: flex;
    width: 100%;
    height: 611px;
    /* border: 5px solid blue; */
    justify-content: flex-start;
    align-items: flex-end;
}

.titulo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    top: -623px;
    left: 100px;
    color: #ffA500;
    font-weight: bolder;
}


.dash {
    display: flex;
    width: 1100px;
    height: 90%;
    justify-content: flex-start;
    /* border: 5px solid red; */
    flex-direction:column;  
    align-items: center;  
    background-color: white;
    border-radius: 40px;
    margin-left: 10px;
    top: -8%;
    position: relative;
    left: -300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.TempUmi {
    display: flex;
    /* border: 5px solid purple; */
    width: 1000px;
    height: 300px;
    align-items: center;
    text-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-left: 10px;
    
}



.div_umid {
    width: 500px;
    text-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.div_umid:hover {
    transform: scale(1.1);
}

.div_temp {
    width: 500px;
    text-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.div_temp:hover {
    transform: scale(1.1);
}

.div_hist {    
    width: 650px;
    /* border: 5px solid pink; */
    display: flex;
    align-items: flex-end;
    height: 300px;
    align-items: center; 
    cursor: pointer;
    transition: transform 0.3s ease;  
}

.div_hist:hover {
    transform: scale(1.1);
}

navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-h3 {
    display: inline-flex;
    color: rgb(74,61,51);
    margin: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


h3 {
    color: rgb(74,61,51);
    margin: 30px;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

navbar ul:hover {
    cursor: pointer;
    color: #6E764F;
}

ul {
    list-style-type: none;
    line-height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 25px;
}

ul:hover {
    transform: scale(1.1);
}

a {
    color: rgb(74,61,51);
    text-decoration: none;
}

a:hover {
    color:#6E764F;
    text-decoration: none;
}

h5 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.alertas {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: start;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 12px;
    flex-direction: column;
    flex-direction: column;
    color: rgb(23, 22, 22);    
    position: relative;
    left: 765px;
    top: -370px;
    /* background-color: beige; */
    border-radius: 30px;
    font-weight: bold;
    
}

.galinha {
    display: flex;
    width: 100px;
    position: relative;
    left: 600px;
    top: -181px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.galinha:hover {
    transform: scale(1.1);
}

.alertaVerm {
    /* background-color: red; */
    border-radius: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    margin: 10px;
    padding: 5px;
    border-radius: 60px;
    text-align: center;
    text-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: red;
}

.alertaVerm:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(181, 0, 0);
}

.alertaAma {
    /* background-color: yellow; */
    border-radius: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 10px;
    border-radius: 60px;
    text-align: center;
    text-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: rgb(255, 217, 0);
}

.alertaAma:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(191, 175, 0);
}

.alertaVerde {
    /* background-color: green;  */
    border-radius: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 10px;
    border-radius: 60px;
    text-align: center;
    text-align: start;
    cursor: pointer;
    transition: transform 0.3s ease;
    color: green;
}

.alertaVerde:hover {
    transform: scale(1.1);
    color: white;
    background-color: green;
}

.seletor {
    display: block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(23, 22, 22);
    width: 20%;
    position: relative;
    left: 1200px;
    top: 100px;
    align-items: flex-end;
}

.tituloSeletor {
    color: rgb(23, 22, 22);
    display: flex;
    font-size: 100%;
    flex-direction: column;
    align-items: flex-start;
}
