#img_galinha {
    position: fixed;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    animation: girar 3s infinite linear;
    display: none;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}