@font-face {
    font-family: Roxborough CF;
    src: url(font/Roxborough-CF/Roxborough\ CF.ttf);
    
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Roxborough CF;
    box-sizing: border-box;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
    background: rgb(74, 61, 51);
}
header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    display: flex;
    z-index: 2;
    position: fixed;
    background-color: white;
}

.header-logo {
    display: flex;
    font-size: 25px;
    color: rgb(74, 61, 51);
    align-items: center;
}

.header-logo:hover {
    cursor: pointer;
}

header > div > img {
    width: 50px;
    height: 50px;
    display: flex;
    transition: 0.3s;
}

header > div > img:hover {
    width: 55px;
}

header > nav > a {
    display: inline-flex;
    color: rgb(74, 61, 51);
    text-decoration: none;
    font-weight: 600;
    margin: 0 5px;
    transition: 0.3s;
}

header > nav > a:hover {
    font-size: 19px;
}

header > div > button {
    background-color: rgb(74, 61, 51);
    color: white;
    padding: 7px;
    border-radius: 10px;
    border-color: transparent;
    margin-left: 10px;
    transition: 0.3s;
}

header > div > button:hover {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}


main {
    width: 100%;
}

.contexto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(74, 61, 51);
    height: 700px;
    padding-top: 5.5%;
    border: 5px solid white;
}

.contexto > img {
    width: 100%;
    max-height: 100%;
    filter: blur(2px) brightness(25%);
}

.contexto > article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    position: absolute;
    height: 75%;
    width: 75%;
}
.contexto > article > h1 {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 10px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px black;
}

.contexto > article > p {
    width: 75%;
    justify-content: center;
}

.contexto > article > p {
    font-size: 22px;
    line-height: 1.6;
    text-align: justify;
    text-align: center;
}

.botao_contexto {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    background-color: #ffd890;
    font-size: 20px;
    transition: 2s;
}
.botao_contexto:hover {
    width: 200px;
    cursor: pointer;
}
.contexto > article > p > b {
    color: #ffd890;
}

/*--------------------------*/
.quem-somos {
    height: 100%;
    display: flex;
    justify-content: center;
}
.quem-somos > img {
    position: static;
    width: 100%;
    max-height: 100%;
    filter: brightness(25%);
    z-index: -3;
}
.quem-somos > .nossa-missao {
    height: 100%;
    width: 100%;
    position: absolute;
}

.quem-somos > .nossa-missao > h1 {
    color: #ffd890;
    text-align: center;
    font-size: 75px;
    text-shadow: 2px 2px 2px black;
}
.quem-somos > .nossa-missao > p {
    color: white;
    text-align: center;
    font-size: 25px;
}

.quem-somos > .nossa-missao > .objetivos {
    margin-top: 10%;
    display: flex;
    width: 100%;
    height: 525px;
    color: white;
    font-size: 25px;
}

.quem-somos > .nossa-missao > .objetivos > .objetivo1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quem-somos > .nossa-missao > .objetivos > .objetivo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quem-somos > .nossa-missao > .objetivos > .objetivo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quem-somos > .nossa-missao > .objetivos > .objetivo4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*--------------------------*/
.processo {
    background-image: url(../imagens/fundoProcesso.png);
    background-position: center;
}

.processo h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 100px;
    color: rgb(74, 61, 51);
    text-shadow: 2px 2px 2px white;
}

/* .processo > .passo-a-passo {
} */

.processo > .passo-a-passo > .passo1 > img{
    border: 5px solid   rgb(74, 61, 51);
    background-color: #ffd890;
    border-radius: 15%;
}

.processo > .passo-a-passo > .passo1 > div {
    display: flex;
    align-items: center;
    border: 5px solid red;
    font-size: 23px;
    height: 75px;
    border: 5px solid rgb(74, 61, 51);
    border-right-width: 25px;
    background-color: #ffd890;
}

.processo >.passo-a-passo >.passo1 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.processo > .passo-a-passo > .passo2 > img{
    border: 5px solid   rgb(74, 61, 51);
    background-color: #ffd890;
    border-radius: 15%;
}

.processo > .passo-a-passo > .passo2 > div {
    display: flex;
    align-items: center;
    border: 5px solid red;
    font-size: 23px;
    height: 75px;
    border: 5px solid rgb(74, 61, 51);
    border-right-width: 25px;
    background-color: #ffd890;
}

.processo >.passo-a-passo >.passo2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}

.processo > .passo-a-passo > .passo3 > img{
    border: 5px solid   rgb(74, 61, 51);
    background-color: #ffd890;
    border-radius: 15%;
}

.processo > .passo-a-passo > .passo3 > div {
    display: flex;
    align-items: center;
    border: 5px solid red;
    font-size: 23px;
    height: 75px;
    border: 5px solid rgb(74, 61, 51);
    border-right-width: 25px;
    background-color: #ffd890;
}

.processo >.passo-a-passo >.passo3 {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.processo > .passo-a-passo > .passo4 > img{
    border: 5px solid   rgb(74, 61, 51);
    background-color: #ffd890;
    border-radius: 15%;
}

.processo > .passo-a-passo > .passo4 > div {
    display: flex;
    align-items: center;
    border: 5px solid red;
    font-size: 23px;
    height: 75px;
    border: 5px solid rgb(74, 61, 51);
    border-right-width: 25px;
    background-color: #ffd890;
}

.processo >.passo-a-passo >.passo4 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}

.processo > .passo-a-passo > .passo5 > img{
    border: 5px solid   rgb(74, 61, 51);
    background-color: #ffd890;
    border-radius: 15%;
}

.processo > .passo-a-passo > .passo5 > div {
    display: flex;
    align-items: center;
    border: 5px solid red;
    font-size: 23px;
    height: 75px;
    border: 5px solid rgb(74, 61, 51);
    border-right-width: 25px;
    background-color: #ffd890;
}

.processo >.passo-a-passo >.passo5 {
    display: flex;
    align-items: center;
}
/*--------------------------*/

.opções {
    width: 100%;
    background-color: rgb(74, 61, 51);
    padding: 40px 0;
}

.opções > h1 {
    margin-bottom: 30px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}

.opções > div {
    display: flex;
    justify-content: space-evenly;
}

.opções > div > .content > .tri-top {
    width: 0;
    height: 0;
    border: 5em solid transparent;
    border-bottom: 10px solid white;
    border-width: 20px 150px;
}

.opções > div > .content > img {
    background-color: white;
    width: 300px;
    height: 150px;
    padding: 20px 10px 0px 10px;
    text-align: center;
    border: 0px 20px solid white;
    margin-bottom: -4px;
}

.opções > div > .content > p {
    width: 300px;
    height: 180px;
    background-color: white;
    padding: 20px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(74, 61, 51);
}

.opções > div > .content > .tri-bott {
    width: 0;
    height: 0;
    border: 5em solid transparent;
    border-top: 10px solid white;
    border-width: 20px 150px;
}

/*--------------------------*/

.localizacao {
    background-color: white;
}
.localizacao > .maps {
    display: flex;
    justify-content: center;
    padding: 50px;
}
.localizacao > .maps > iframe {
    border: 5px solid rgb(74, 61, 51);
    padding: 5px;
}
.localizacao > div > h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(74, 61, 51);
    text-shadow: 1px 1px 1px black;
    
}

.localizacao > div > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(74, 61, 51);
    padding-top: 25px;
}
/*--------------------------*/

footer {
    height: 250px;
    width: 100%;
    background-image: url(../imagens/footer.png);
    background-size: 1500px;
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.footer-logo {
    display: flex;
    font-size: 22px;
    color: white;
    align-items: center;
    margin-top: 155px;
}

.footer-logo:hover {
    cursor: pointer;
}

.footer-logo > img {
    width: 45px;
    display: flex;
    transition: 0.3s;
}

.footer-logo > img:hover {
    width: 50px
}

footer > .sobre {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: white;
    width: 40vw;
    max-width: 600px;
    text-align: center;
}

footer > .sobre > nav > a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 2;
    transition: 0.2s;
}

footer > .sobre > nav > a:hover {
    font-weight: 600;
    font-size: 17px;
}

footer > .sobre > .endereço {
    width: 20vw;
}

footer > .sobre > .endereço > .rua {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 1px;
}

footer > .sobre > .contato > ul {
    margin-top: 8px;
    list-style: none;
    letter-spacing: 1px;
    font-size: 14px;
}

footer > .rede-social {
    margin-top: 50px;
    color: white;
}

footer > .rede-social > a {
    display: flex;
    align-items: center;
    width: 225px;
    height: 20px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    
    transition: 0.3s;
}

footer > .rede-social > a:hover {
    height: 23.4px;
    font-size: 17px;
}

footer > .rede-social > a > img {
    height: 130%;
    margin-right: 5px;

}