img {
    width: 60px;
    height: 40px;
    position: relative;
    bottom: 3 0px;
    left: 30px;
}

div > .caixa_branca {
    width: 60px;
    height: 40px;
    background-image: linear-gradient(to top, gray, transparent);
}